<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" package="asthanarht">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="21" />
	<application android:theme="@style/MyTheme" android:label="CPMobile" android:icon="@drawable/icon"></application>
</manifest>